* { margin:0; padding:0; box-sizing:border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 13px;
}

li {
  display: inline-block;
  padding-left: 37px;
}

li a {
  display: block;
  border-bottom: 5px solid transparent;
  color: #1A1A13;
  text-align: center;
  padding: 35px 87px;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: lighter;
  left: 35px;
  @extend .animate
}

li a:hover {
  background-color: white;
  letter-spacing: 1px;
  border-bottom: 5px solid black;
}

#navbar {
    background-color: white;
}

body {
  color: #222222;
  font-size: 1em;
  font-family: Helvetica;
  font-weight: lighter;
  background-color: white;
  margin: 0 0 0 0px;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.masthead {
  padding: 3em 0;
  background-image: url('123.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* border-top: solid 1em lightcoral;
  box-shadow: inset 0 0 15px #000000; */
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 5px;
  color: white;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.social > li {
  display: inline-block;
}

.introduction > p,
.location > p,
{
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  color: white;
}

.heading1{
  font-family: Helvetica;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 0px;
  color: black;
}

.content-footer {
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 20px;
}

a {
  color: lightcoral;
  font-weight: 900;
  font-size: 120%;
  text-decoration: none;
}

img {
  width: 65px;
  height: 65px;
  margin: 20px;
  margin-top: inherit;
}

.photo {
  height: 300px;
  width: 250px;
  border-radius: 1%;
}

p{
  margin: 0px;
}
