body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  text-align: center;
}

.title {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  display: inline-block;
  padding-left: 0;
}

li a {
  display: block;
  border-bottom: 5px solid transparent;
  color: black;
  text-align: center;
  padding: 35px 100px;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: lighter;
  @extend .animate
}

li a:hover {
  background-color: white;
  letter-spacing: 1px;
  border-bottom: 5px solid black;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
}

.contact-title {
  margin-top: 100px;
  color: #444443;
  text-align: center;
  text-transform: uppercase;
  transition: all 3s ease-in-out;
}

.contact-title h1{
  font-size: 60px;
  line-height: 10px;
}

.contact-title h2{
  font-size: 16px;

}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

.input {
 height: 45px;
}

form .submit {
  background: #FCE14C;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #FBDA21;
  cursor: pointer;

}
